---
- name: Install LAMP Stack components (Apache, MariaDB, PHP)
  hosts: lamp_servers
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Apache web server
      apt:
        name: apache2
        state: present

    - name: Install MariaDB server
      apt:
        name: mariadb-server
        state: present

    - name: Install PHP and required modules
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - php
        - php-mysql
        - libapache2-mod-php
        - php-cli

    - name: Ensure Apache service is running and enabled
      service:
        name: apache2
        state: started
        enabled: yes
